<%- include('partials/header'); %>
    <div class="container bodyContent">
        <h1 class="post-name">
            <%= title %>
        </h1>
        <p class="post-date">
            <%= date %>
        </p>
        <h5 class="post-body">
            <%= content%>
        </h5>
    </div>
    </div>
    <%- include('partials/footer'); %>